@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Protest+Riot&display=swap');

body {
    background-color: aquamarine;
    color: rgb(226, 43, 43); 
    font-family: Montserrat;
}
h1 {
    color:rgb(255, 0, 0);
}
nav {
    li {
        display: inline-block;
      }
}
nav {
    font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
    background: rgb(255, 0, 0);
  }
  li {
    display: inline-block;
    padding: rem; /* not such a good idea */

  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;

  }