@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Protest+Riot&display=swap');

body {
    background-color: rgb(216, 237, 246);
    color: rgb(15, 11, 11); 
    font-family: "IBM Plex Sans", sans-serif;
}
h1 {
    color:rgb(15, 1, 1);
}
nav {
    li {
        display: inline-block;
      }
}
nav {
    font-family: "IBM Plex Sans", sans-serif;
    background: rgb(32, 30, 30);
  }
  li {
    display: inline-block;
    padding: rem; /* not such a good idea */

  }
  a {
    color: rgba(249, 244, 244, 0.941);
    text-decoration: none;

  }